<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="Style.css" rel="stylesheet">
    <script src="Ex04.js"></script>
    <title>Document</title>
</head>
<body>
    <label>첫 번째 변수</label>
    <input id="num1" class="input" />
    <label>두 번째 변수</label>
    <input id="num2" class="input" />
    <button id="btn" class="btn">전달</button>
</body>
</html>